.bannerContainer {
  background: var(--primary1);
  height: 250px;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  cursor: pointer;
  padding: 0 60px;
  position: relative;
 
  /* -webkit-filter: blur(8px); */
}
.bannerImg {
  /* width: 300px; */
  position: absolute;
  height: 95%;
  width: 100%;
  background: rgba(102, 101, 101, 0.395);
  border-radius: inherit;

  background-image: url("https://i.pngimg.me/thumb/f/720/comhiclipartfuusg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}
.bannerContent {
    /* width: 45%; */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.text1 {
  font-size: calc(2vw + 8px);
  font-weight: 700;
  color: var(--secondary1);
}
